.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  font-family: 'Ubuntu', sans-serif;
  background: #fff;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.main-container {
  width: 500px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.main-forms {
  width: 500px;
  background: #fff;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.register-form {
  background: #fff;
  background-size: cover;
  border-radius: 10px;
}

.register-back {
  background: linear-gradient(#0074e4, #264e86 80%);
  border-radius: 10px;
  padding: 65px 0;
}

.register-back h1 {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-top: 0;
  letter-spacing: 5px;
  text-shadow:1px 1px 1px #333
}

.register-row {
  text-align: center;
  margin: 20px 0;
  position: relative;
}

.register-row input {
  padding: 5px 0;
  border: 0;
  border-bottom: 1px solid #fff;
  background: transparent;
  width: 50%;
  text-align: center;
  outline: none;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
}

.register-row input::-webkit-input-placeholder {
  color: #fff;
text-shadow:1px 1px 1px rgba(51, 51, 51, 0.6)
}

.register-row i {
  color: #fff;
  position: relative;
  left: 20px;
  text-shadow:1px 1px 1px rgba(51, 51, 51, 0.6)
}

.register-row a {
  font-size: 40px;
  text-decoration: none;
}

.register-row a i {
  left: 0;
}

button {
  margin-top: 20px;
  width: 150px;
  height: 50px;
  background-color: #264e86;
  border: #0074e4 solid;
  border-radius: 4px;
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Ubuntu', sans-serif;
}

button:hover {
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
  background: #333;
  cursor: pointer;
}
